/* STYLES */

body {
    background: rgb(6, 35, 78);
    color: rgb(245, 228, 212);
    font-family: 'Roboto', sans-serif;
    font-style: normal;

}

h1 {
    font-size: 75px;
    line-height: 75px;
    -webkit-text-fill-color: cornflowerblue;
    -webkit-text-stroke-color: blueviolet;
    -webkit-text-stroke-width: 0.3px;
    text-align: left;
    font-family: 'Bebas Neue', sans-serif;
    font-style: medium;

}

main {
    margin: 0 auto;
    max-width: 600px;
    padding: 16px;
}

h2 {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    border-color: blueviolet;
    padding: 1px 4px;
    border-radius: 8px;
    transition: opacity;
}

h4 {

    color: blueviolet
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic

}